<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-banner mt-3">
                <div class="row d-flex justify-content-center mx-3">
                    <div class="col-lg-6 d-flex justify-content-center align-items-center">
                        <div class="column">
                            <span class="banner-text">Читай книги — маркетплейс книжных товаров</span>
                            <p class="banner-text2 my-3">Сравнивайте цены и бронируйте книги в ближайших магазинах!</p>
                            <button class="btn btn-banner-login px-4">Войти</button>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex">
                        <img class="" src="static/img/banner-img.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

