<div class="container-fluid mt-5 footer-dark">
    <div class="container mt-3">
        <div class="footer-logo">
            <img src="/static/img/logo(for_dark).png">
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="flex-column d-flex">
                    <a class="first-link py-2" href="">Каталог</a>
                    <a class="first-link py-2" href="">Партнерская программа</a>
                    <a class="first-link py-2" href="">Подробнее о нас</a>
                    <a class="first-link py-2" href="">Контакты</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="flex-column d-flex">
                    <a class="second-link pt-2" href="">Осталис вопросы? Напишите нам</a>
                    <a class="second-link2 py-2" href="">korablik@yandex.ru</a>
                    <div class="flex-row pt-1">
                        <i class="fab fa-vk fa-lg" style="color: #ffffff;"></i>
                        <i class="fab fa-instagram fa-lg mx-3" style="color: #ffffff;"></i>
                        <i class="fab fa-twitter fa-lg" style="color: #ffffff;"></i>
                    </div>
                    <a class="second-link py-2" style="white-space: pre-wrap;" href="">Мы на связи с 9 до 18 часов
(GMT +03:00)</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="flex-column d-flex">
                    <a class="third-link py-2" href="">Бесплатный звонок по России</a>
                    <a class="third-link2" href="">8 (988) 545-55-55</a>
                    <a class="third-link py-3" href="">Мы в социальных сетях</a>
                    <div class="flex-row">
                        <i class="fab fa-vk fa-lg" style="color: #ffffff;"></i>
                        <i class="fab fa-instagram fa-lg mx-3" style="color: #ffffff;"></i>
                        <i class="fab fa-twitter fa-lg" style="color: #ffffff; margin-right: 1rem;"></i>
                        <i class="fab fa-telegram-plane fa-lg" style="color: #ffffff;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>