<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 mb-3">
            <h3 class="popular-title">Популярное</h3>
        </div>
        {% for book in books %}
        <div class="col-lg-3">
            <div class="card card-popular">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="{{ book.photo.url }}" width="86px" height="136px">
                    </div>
                    <div class="col-lg-8">
                        <span class="pbook-title">{{book.name}}</span>
                        <p class="p-author">{{ book.author_id.name }}</p>
                        <button class="btn btn-popular">В корзину</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>