<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 mb-3">
            <h3 class="popular-title">Популярное</h3>
        </div>
        <div class="col-lg-3">
            <div class="card card-popular">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="static/img/book1.png">
                    </div>
                    <div class="col-lg-8">
                        <span class="pbook-title">Лягушка, слон и брокколи. Как жить и как не надо</span>
                        <p class="p-author">Алексей Марков</p>
                        <button class="btn btn-popular">В корзину</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-popular">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="static/img/book2.png">
                    </div>
                    <div class="col-lg-8">
                        <span class="pbook-title">Лягушка, слон и брокколи. Как жить и как не надо</span>
                        <p class="p-author">Алексей Марков</p>
                        <button class="btn btn-popular">В корзину</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-popular">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="static/img/book3.png">
                    </div>
                    <div class="col-lg-8">
                        <span class="pbook-title">Лягушка, слон и брокколи. Как жить и как не надо</span>
                        <p class="p-author">Алексей Марков</p>
                        <button class="btn btn-popular">В корзину</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-popular">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="static/img/book4.png">
                    </div>
                    <div class="col-lg-8">
                        <span class="pbook-title">Лягушка, слон и брокколи. Как жить и как не надо</span>
                        <p class="p-author">Алексей Марков</p>
                        <button class="btn btn-popular">В корзину</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>