<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="promotion-title mb-3">
                Акции
            </h3>
        </div>
        <div class="col-lg-4">
            <div class="card card-promotion">
                <div class="col-lg-12 mx-3">
                    <span class="promotion-text1">
                        Увлекательные приключения
                    </span>
                </div>
                <div class="flex-row d-flex mt-3">
                    <div class="flex-column d-flex mt-4 mx-3">
                        <div class="col-lg-8">
                            <span class="promotion-text2">
                                -20%
                            </span>
                        </div>
                        <div class="col-lg-12">
                            <span class="promotion-text3">
                                на книги про космос
                            </span>
                        </div>
                        <div class="col-lg-12">
                            <button class="btn btn-promotion fw-bold">
                                К покупкам
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <img class="promotion-img1" src="static/img/book-promotion1.png">
                        <img class="promotion-img2" src="static/img/book-promotion2.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-promotion">
                <div class="col-lg-12 mx-3">
                    <span class="promotion-text1">
                        Увлекательные приключения
                    </span>
                </div>
                <div class="flex-row d-flex mt-3">
                    <div class="flex-column d-flex mt-4 mx-3">
                        <div class="col-lg-8">
                            <span class="promotion-text2">
                                -20%
                            </span>
                        </div>
                        <div class="col-lg-12">
                            <span class="promotion-text3">
                                на книги про космос
                            </span>
                        </div>
                        <div class="col-lg-12">
                            <button class="btn btn-promotion fw-bold">
                                К покупкам
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <img class="promotion-img1" src="static/img/book-promotion1.png">
                        <img class="promotion-img2" src="static/img/book-promotion2.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-promotion">
                <div class="col-lg-12 mx-3">
                    <span class="promotion-text1">
                        Увлекательные приключения
                    </span>
                </div>
                <div class="flex-row d-flex mt-3">
                    <div class="flex-column d-flex mt-4 mx-3">
                        <div class="col-lg-8">
                            <span class="promotion-text2">
                                -20%
                            </span>
                        </div>
                        <div class="col-lg-12">
                            <span class="promotion-text3">
                                на книги про космос
                            </span>
                        </div>
                        <div class="col-lg-12">
                            <button class="btn btn-promotion fw-bold">
                                К покупкам
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <img class="promotion-img1" src="static/img/book-promotion1.png">
                        <img class="promotion-img2" src="static/img/book-promotion2.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>