<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bookmarket{% endblock %}</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
            integrity="sha384-o3V3dfD6Ez2XxZiAdorFW73/Qw6U5HF2GNdQ+0vQaD1HP0k/dLQSTSNQf5KkqVOe"
            crossorigin="anonymous">
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet">

        <!-- CSS links -->
        <link href="/static/css/book_app/index.css" rel="stylesheet">
        <link href="/static/css/book_app/navbar.css" rel="stylesheet">
        <link href="/static/css/book_app/footer.css" rel="stylesheet">
    </head>
    <body>
        <!-- Navbar -->
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-12 d-flex">
                    <!-- <div class="flex-column nav-logo">
                        <div class="nav-text">
                            ЧИТАЙ
                        </div>
                        <div class="nav-text">
                            КНИГИ
                        </div>
                    </div> -->
                    <div class="flex-column nav-logo">
                        <a href="/">
                            <img src="/static/img/logo(for_dark).png">
                        </a>
                    </div>
                    <button
                        class="btn-primary btn-catalog mx-4 my-1 d-flex align-items-center justify-content-center">
                        <h4 class>Каталог</h4>
                    </button>
                    <div class="nav-search">
                        <div class="input-group">
                            <div class="position-relative">
                                <input type="search" id="form1"
                                    class="form-control search-words my-1 mx-5"
                                    placeholder="Поиск">
                                <i class="fas fa-search position-absolute"
                                    style="top: 50%; transform: translateY(-50%); left: 10px;"></i>
                            </div>
                        </div>
                    </div>

                    <div class="nav-favorite">
                        <div class="flex-column">
                            <i
                                class="far fa-bookmark d-flex justify-content-center my-1"
                                style="color: #ffffff;"></i>
                            <h5>Избранное</h5>
                        </div>
                    </div>
                    <div class="nav-cart mx-4">
                        <div class="flex-column">
                            <i
                                class="fas fa-shopping-cart d-flex justify-content-center my-1"
                                style="color: #ffffff;"></i>
                            <h5>Корзина</h5>
                        </div>
                    </div>
                    <div class="nav-login my-1">
                        <a href="/login"
                            class="btn-primary btn-login d-flex align-items-center justify-content-center">
                            <h4>Войти</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% block content %}
        {% endblock %}

    </body>

    {% if request.path == "/" %}
    {% include 'main/banner.html' %}
    {% include 'main/popular.html' %}

    {% endif %}

    {% include 'main/footer.html' %}

</html>