.nav-logo a{
    color: '#FFFFFF';
    box-shadow: none;
    outline: none;
    text-decoration: none;
}

.nav-text {
    color: aliceblue;
    font-size: 18px;
    font-weight: 700;
}

.btn-catalog {
    background-color: transparent;
    border: 1px solid;
    border-color: #FFFFFF;
    border-radius: 5px;
    width: 114px;
    height: 40px;
}

.btn-catalog h4{
    font-size: 20px;
    font-weight: 700;
}

.input-group input{
    background-color: #2B2244;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 706px;
}

.search-words {
    color: #FFFFFF !important;
}

.input-group ::placeholder{
    font-size: 16px;
    color: #706e6e;
}

.input-group :focus{
    background-color: #2B2244;
    outline: none;
    box-shadow: none;
}



.nav-favorite h5{
    color: #FFFFFF;
    font-size: 14px;
}
.nav-cart h5{
    color: #FFFFFF;
    font-size: 14px;
}


.btn-login {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 107px;
    height: 40px;
    border: none;
}

.btn-login h4{
    color: #1F1A2D;
}